.theme-default-content code {
  color: #FF7676!important;
  background-color: rgba(211,211,226,0.2)!important;
}

.theme-default-content pre code, .theme-default-content pre[class*="language-"] code {
  color: #fff!important;
  background-color: transparent!important;
}